@tailwind base;
@tailwind components;
@tailwind utilities;



.selectionNone{
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  touch-action: manipulation; /* Prevents touch actions like zooming */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.centeredItem {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  background-color: #2e2e2e;
  padding-inline: 5px;
}

.positioners {
  position: fixed;
  top: 0;
  z-index: 20000000;
  left: 0;
  background: rgba(41, 41, 41, 0.25);
  box-shadow: 0 8px 32px 0 rgba(223, 223, 223, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.positioner {
  position: fixed;
  top: 0;
  z-index: 200;
  background-color: #242424;
  left: 0;
}

*::-webkit-scrollbar {
  display: none;
}

.stickyPostion {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  height: 100%;
  z-index: 20000000;
}


.toRight {
  position: absolute;
  right: 0;
  top: 0;
}

